
.App {
    text-align: center;
    margin-top: 5vh;
}

.first-button {
    margin-right: 5%;
}

.footer {
    color: white;
    border-top: 1px solid #eee;
    margin-top: 10vh;
    padding-top: 20px;
    font-weight: 200;
}
